<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container">
         <h2>Accordion Example</h2>
         <button id="collapse-init" class="btn btn-primary">Disable Accordian</button> <button id="expand-all" class="btn btn-primary">Expand All</button>
         <br></br>
         <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
         <div class="panel-group" id="accordion">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#toggle" href="#collapse1">Class Name</a>
                  </h4>
               </div>
               <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                     <div class="container">
                        <p>This is a docstring</p>
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>Name</th>
                                 <th>Parameters</th>
                                 <th>Docstring</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>John</td>
                                 <td>
                                    <li>Param 1</li>
                                    <li>Param 2</li>
                                    <li>Param 3</li>
                                 </td>
                                 <td>This function is callable by a BinaryFrame object. It converts the data (axis = 1) of self.data to binary strings
                                    according to the procedure shown below. Each column is treated separately and independently. The end result is stored
                                    as a dictionary, with the key being the name of the column. e.g.
                                    self.bin_data['Close'] = [{'Close' : [100010101011010', '100111101010101'], 'Open' : [100010101011010', '100111101010101']}
                                 </td>
                              </tr>
                              <tr>
                                 <td>Mary</td>
                                 <td>Moe</td>
                                 <td>mary@example.com</td>
                              </tr>
                              <tr>
                                 <td>July</td>
                                 <td>Dooley</td>
                                 <td>july@example.com</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#toggle" href="#collapse2">Collapsible Group 2</a>
                  </h4>
               </div>
               <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#toggle" href="#collapse3">Collapsible Group 3</a>
                  </h4>
               </div>
               <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script>
      $(function () {
             var active = true;
             var expanded = false;

      		$('#expand-all').click(function () {
            	if (expanded) {
             		$('.panel-collapse').collapse('hide');
                    $(this).text('Expand All');
                } else {
                	$('.panel-collapse').collapse('show');
                    $(this).text('Collapse All');
                }
                expanded = !expanded;
             });


             $('#collapse-init').click(function () {
                 if (active) {
                     active = false;
                     $('.panel-title').attr('data-toggle', '');
                     $(this).text('Enable accordion behavior');
                 } else {
                     active = true;
                     $('.panel-title').attr('data-toggle', 'collapse');
                     $(this).text('Disable accordion behavior');
                 }
             });

             $('#accordion').on('show.bs.collapse', function () {
                 if (active) $('#accordion .in').collapse('hide');
             });
         });
   </script>
</html>